# This is Git's per-user configuration file.
[user]
	name = Anthony Chan
	email = anthonychan0123@gmail.com

[alias]
    unstage = reset HEAD --
    uncommit = reset --soft HEAD~1

    logdog = log --decorate --oneline --graph
    cf = cat-file -p

    hh = rev-parse HEAD
    hhs = rev-parse --short HEAD

    cl = config --list

    rv = remote -v
